<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.morescape.foodylistpg"
        version   = "1.0.0">
    <name>FoodyList</name>

    <author href="http://www.nikolai.in" email="nc@morescape.com">
        Nikolai Chowdhury
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <icon gap:platform="ios" height="60" src="icons/ios/Icon-60.png" width="60" />
    <icon gap:platform="ios" height="72" src="icons/ios/Icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="icons/ios/Icon-60@2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="icons/ios/Icon-72@2x.png" width="144" />

</widget>